<div>
  <div id='sources'>
    <style>
      #sources {
        color: #999;
      }
      #sources .content {
        display: none;
      }
      #sources pre#css,
      #sources pre#html {
        height: 300px;
        width: 90%;
        overflow-y: scroll;
        border: 1px solid blue;
      }
      #sources input:checked + .content {
        display: block;
      }
      #sources input:not(:checked) + .content {
        display: none;
      }
    </style>
    <label for='show-sources'>Show sources: </label>
    <input type='checkbox' name='show-sources' id='show-sources'>
    <div class='content'>
      <h3>CSS Source:</h3>
      <pre id='css'>{css}</pre>

      <h3>HTML Source:</h3>
      <pre id='html'>{html}</pre>
    </div>
  </div>
</div>
